body {
	background: #f9f9f9;
	color: #242424;
	font-size: 15px;
	letter-spacing: 2px;
	padding-top: 50px;
}
header {
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	-webkit-app-region: drag;
	-webkit-user-select: none;
}
header ul {
	float: right;
}
header ul li {
	display: inline-block;
}
header ul li a {
	-webkit-app-region: no-drag;
}